.ds-meta, 
#ds-thread #ds-reset .ds-powered-by { 
  display: none; 
}

#ds-thread #ds-reset .ds-sort a.ds-current,
#ds-thread #ds-reset .ds-sort a:active,
#ds-reset .ds-highlight,
#ds-thread #ds-reset .ds-login-buttons .ds-more-services {
  color: #069 !important;
}

#ds-thread #ds-reset #ds-bubble a,
#ds-thread #ds-reset #ds-bubble a:hover,
#ds-thread #ds-reset .ds-login-buttons .ds-more-services:hover {
  color: #333333 !important;
}

#ds-thread #ds-reset .ds-post-self {
  border-top: 0;
}

#ds-thread #ds-reset li.ds-post {
  border-top: 1px dotted rgba(0, 0, 0, 0.13) !important;
}

#ds-thread #ds-reset .ds-comments-info {
  margin-top: 20px !important;
}

#ds-thread #ds-reset .ds-comments {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.13) !important;
}

#ds-thread #ds-reset li.ds-post { 
  margin-bottom: 10px; 
}

#ds-thread #ds-reset li.ds-post-placeholder {
  padding: 3em 0 !important;
  font-size: 14px;
}

#ds-thread #ds-reset ul.ds-children { 
  border-left: 3px solid rgba(0, 0, 0, 0.13); 
}

#ds-thread #ds-reset ul.ds-children .ds-post-self { 
  padding-left: 20px; 
}

#ds-thread #ds-reset .ds-toolbar {
  border-top: none !important;
}

#ds-thread #ds-reset .ds-post-toolbar {
  box-shadow: none;
  -webkit-box-shadow: none;
}

#ds-thread #ds-reset .ds-paginator div.ds-border {
  border: none !important;
}

#ds-thread #ds-reset .ds-paginator a.ds-current {
  color: #069 !important;
}

#ds-reset .ds-avatar img{   
    width:54px;height:54px; /*设置图像的长和宽，这里要根据自己的评论框情况更改*/  
    border-radius: 27px;/*设置图像圆角效果,在这里我直接设置了超过width/2的像素，即为圆形了*/  
    -webkit-border-radius: 27px;/*圆角效果：兼容webkit浏览器*/  
    -moz-border-radius:27px;   
    box-shadow: inset 0 -1px 0 #3333sf;/*设置图像阴影效果*/  
    -webkit-box-shadow: inset 0 -1px 0 #3333sf;   
    -webkit-transition: 0.4s;      
    -webkit-transition: -webkit-transform 0.4s ease-out;   
    transition: transform 0.4s ease-out;/*变化时间设置为0.4秒(变化动作即为下面的图像旋转360读）*/  
    -moz-transition: -moz-transform 0.4s ease-out;   
}    
#ds-reset .ds-avatar img:hover{/*设置鼠标悬浮在头像时的CSS样式*/  
    box-shadow: 0 0 10px #fff; rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);   
    -webkit-box-shadow: 0 0 10px #fff; rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);   
    transform: rotateZ(360deg);/*图像旋转360度*/  
    -webkit-transform: rotateZ(360deg);   
    -moz-transform: rotateZ(360deg);   
}